In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
maindf = pd.read_csv('./results/5_years_311_merged.csv')

C:\Users\tkkim\AppData\Local\Temp\ipykernel_38500\2734616513.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  maindf = pd.read_csv('./results/5_years_311_merged.csv')

In [8]:
maindf['created_date'] = pd.to_datetime(maindf['created_date'])

In [23]:
grouped_date = maindf.groupby([maindf['created_date'].dt.date,'community_area','sr_type']).agg(total_count=('sr_number','count')).reset_index()

In [26]:
grouped_date.pivot_table(index=['created_date','community_area'],columns='sr_type',values='total_count',aggfunc='sum').fillna(0).reset_index().to_csv('./results/agged_311.csv')

In [28]:
pivoted = grouped_date.pivot_table(index=['created_date','community_area'],columns='sr_type',values='total_count',aggfunc='sum').fillna(0).reset_index()

In [27]:
merged_df = pd.read_csv('./results/5_years_merged_with_weather.csv')

In [44]:
merged_df['date'] = pd.to_datetime(merged_df['date'])
pivoted['created_date'] = pd.to_datetime(pivoted['created_date'])

In [58]:
bigmerged = merged_df.merge(pivoted,how='left',left_on=[merged_df['date'].dt.date,'community_area'],right_on=[pivoted['created_date'].dt.date,'community_area'])

In [55]:
bigmerged.drop(['created_date', 'key_0'],axis=1,inplace=True)

In [56]:
bigmerged.to_csv('./results/5_years_merged_with_weather_and_311.csv',index=False)

In [57]:
bigmerged.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,Vicious Animal Complaint,Wage Complaint,Water Lead Test Kit Request,Water Lead Test Visit Request,Water On Street Complaint,Water Quality Concern,Water in Basement Complaint,Weed Removal Request,Wire Basket Request,Yard Waste Pick-Up Request
0,13211437,JG425074,2019-01-01,009XX N HAMLIN AVE,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11895528,JC515003,2019-01-01,059XX W LELAND AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12325061,JE180772,2019-01-01,045XX S CHAMPLAIN AVE,0265,CRIMINAL SEXUAL ASSAULT,AGGRAVATED - OTHER,RESIDENCE,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12298601,JE148751,2019-01-01,057XX S WOLCOTT AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12312332,JE165297,2019-01-01,009XX W 76TH ST,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0