In [5]:
import pandas as pd
import os
import json
import glob
from shapely.geometry  import shape, Point
from geopy.geocoders import Nominatim
import numpy as np
import meteostat as ms
import datetime as dt

In [6]:
os.makedirs('./weather_data', exist_ok=True )

In [7]:
start = dt.datetime(2019, 1, 1)
end = dt.datetime(2023, 12, 31)

# Create Point for chicago
chicago = ms.Point(41.85, -87.65)

data = ms.Hourly(chicago, start, end)
data = data.fetch()
data['temp_f'] = data['temp'].apply(lambda x: (x * 9/5) + 32)
data.to_csv('./weather_data/weather_hourly_data.csv')

In [8]:
data_daily = ms.Daily(chicago, start, end)
data_daily = data_daily.fetch()
data_daily.head()

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2019-01-01  -0.7  -2.8   2.2   0.0   0.0  342.0  14.2   NaN  1024.1   NaN
2019-01-02  -1.3  -2.8   0.0   0.3   0.0  238.0  15.0   NaN  1021.5   NaN
2019-01-03   0.0  -3.9   5.0   0.0   0.0  223.0  18.3   NaN  1017.1   NaN
2019-01-04   3.7   0.0  10.0   0.0   0.0  246.0  13.5   NaN  1009.1   NaN
2019-01-05   5.0  -0.6  11.7   0.0   0.0  262.0  12.9   NaN  1011.8   NaN

In [9]:
data_daily = ms.Daily(chicago, start, end)
data_daily = data_daily.fetch()
data_daily[['tempmax_f', 'tempmin_f', 'tempavg_f']] = data_daily[['tmax', 'tmin', 'tavg']].apply(lambda x: (x * 9/5) + 32)
data_daily.to_csv('./weather_data/weather_daily_data.csv')

In [10]:
data_daily.head()

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,tempmax_f,tempmin_f,tempavg_f
time,,,,,,,,,,,,,
2019-01-01,-0.7,-2.8,2.2,0.0,0.0,342.0,14.2,NaN,1024.1,NaN,35.96,26.96,30.74
2019-01-02,-1.3,-2.8,0.0,0.3,0.0,238.0,15.0,NaN,1021.5,NaN,32.00,26.96,29.66
2019-01-03,0.0,-3.9,5.0,0.0,0.0,223.0,18.3,NaN,1017.1,NaN,41.00,24.98,32.00
2019-01-04,3.7,0.0,10.0,0.0,0.0,246.0,13.5,NaN,1009.1,NaN,50.00,32.00,38.66
2019-01-05,5.0,-0.6,11.7,0.0,0.0,262.0,12.9,NaN,1011.8,NaN,53.06,30.92,41.00